# Merging Instacart Data

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Import Data (Path)

path = r'/Users/ladyarmanoid/Documents/Data Analytics/CareerFoundry/Course/2- Data Immersion/Achievement 4/Instacart Basket Analysis/'

# Step 3. Import the Combined Data Frame

In [6]:
# Import Merged Data Frame

df_ords_prods_combined = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

# Step 4. Check the shape of the df_ords_prods_combined

In [7]:
# Rows and Columns Check

df_ords_prods_combined.shape

(32640698, 12)

In [9]:
# Import Products Data Frame (Checked)

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [10]:
# Rows and Columns Check

df_prods.shape

(49672, 6)

In [11]:
# Check the output for df_ords_prods_combined

df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0
1,0,0,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0
2,0,0,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0
3,0,0,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0
4,0,0,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0

In [13]:
# Check the output for df_prods

df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

# Step 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set

In [14]:
# Drop unnamed columns in df_prods 

df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [15]:
# Drop unnamed columns in df_ords_prods_combined

df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', 'eval_set'])

In [16]:
# Rename order_dow to orders_day_of_week for more clarity

df_ords_prods_combined.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [17]:
# Rename order_number to number_of_orders for more clarity

df_ords_prods_combined.rename(columns = {'order_number' : 'number_of_orders'}, inplace = True)

In [18]:
# Check the output for df_ords_prods_combined

df_ords_prods_combined.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0

In [19]:
# Check the output for df_prods

df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

The suitable way to merge the two dataframes df_prods and df_ords_prods_combined is by the column product_id, available in both dataframes

# Step 6. Merging the ords_prods_combined with df_prods using the product_id column

In [20]:
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [21]:
# Confirm the merge results for df_ords_prods_merged

df_ords_prods_merged.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both

In [22]:
# Checking the values in the _merge column

df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [23]:
# Checking the merged shape

df_ords_prods_merged.shape

(32404859, 14)

# Step 7. Export the newly created dataframe as orders_products_merged

In [24]:
# Exporting df_ords_prods_merged using Pickle Format

df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))